:root {
    /* header */
    --header-height: 80px;
    /* btn */
    --large-btn-height: 60px;
    --btn-height: 32px;
    --large-btn-width: 282px;
    --btn-width: 88px;
    /* rwd btn */
    --rwd-btn-height: 40px;
    --rwd-large-btn-width: 345px;
    --rwd-btn-width: 165px;
    --rwd-small-btn-width: 115px;
    /* card */
    --card-img-width: 282px;
    --card-img-height: 376px;
    /* rwd card */
    --rwd-card-img-width: 165px;
    --rwd-card-img-height: 220px;
    /* color */
    --main-color: #BCAA9A;
    --light-color: #EBE7E3;
    --white-color: #FAFAFA;
    --fea-color: #707070;
    --lightbox-color: #BCAA9A50;
    /* font */
    --body-font: 'Noto Sans TC', sans-serif;
    --login-font-size: 45px;
    --large-font-size: 24px;
    --title-font-size: 20px;
    --normal-font-size: 16px;
    --small-font-size: 12px;
    --font-weigh: 300;
    --hover-font-weigh: 500;
    /* rwd font */
    --rwd-normal-font-size: 14px;
    /* mb */
    --mb-headandfoot: 80px;
    --mb-normal: 32px;
    --mb-box: 16px;
    --mb-small: 12px;
    --mb-smaller: 8px;
    /* rwd mb */
    --rwd-mb-headandfoot: 30px;
    --rwd-mb-normal: 15px;
    /* mr */
    --mr--card: 24px;
    /* box-shadow */
    --box-shadow: 5px 5px 10px #BCAA9A50;
    --box-shadow-footer: -5px -5px 10px #BCAA9A50;
    /* outline */
    --normal-outline: 1px solid var(--main-color);
}


/* header */

.header_index {
    width: 100%;
    height: var(--header-height);
    /* margin-bottom: var(--mb-headandfoot); */
    position: fixed;
    z-index: 99;
}

.header_index .nav a {
    color: var(--white-color);
}

.header_index .nav a.navcolor {
    color: var(--main-color);
}


@media screen and (max-width: 375px) {
    .header_index {
        /* height: var(--rwd-header-height); */
        /* margin-bottom: var(--rwd-mb-headandfoot); */
        display: none;
    }
    .header {
        display: block;
        height: var(--rwd-header-height);
    }
}


/* herosection */

.herosection {
    /* height: 1080px; */
    height: 100vh;
    background-image: url(../../img/herosection.jpeg);
    background-position: center center;
}

.herosection_title {
    display: flex;
    flex-flow: column;
    height: 900px;
    width: 960px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--large-font-size);
    font-weight: var(--hover-font-weigh);
    color: var(--white-color);
    line-height: 48px;
    /* position: absolute; */
}

@media screen and (max-width: 375px) {
    .herosection {
        width: 375px;
        height: 812px;
        background-image: url(../../img/home_herosection_rwd.jpg);
    }
    .herosection_title {
        font-size: var(--normal-font-size);
        height: 812px;
        width: 375px;
        line-height: 36px;
        color: var(--white-color);
    }
}


/* index_features */

.index_features {
    position: relative;
    /* height: 1080px; */
    height: 100vh;
    background-color: #E9E3DC;
    padding: 140px 147px 60px;
}

.index_features p {
    font-size: var(--title-font-size);
    color: var(--fea-color);
    /* padding-top: 80px; */
    text-align: center;
}

.index_features_title {
    /* padding-top: 80px; */
}

.index_features_img1 {
    position: absolute;
    left: 452px;
    top: 200px;
    z-index: 9;
}

.index_features_img2 {
    position: absolute;
    right: 285px;
    top: 390px;
}

.index_features_white {
    position: absolute;
    background-color: #fff;
    width: 522px;
    height: 783px;
    left: 393px;
    top: 310px;
}

.index_features_img_text {
    position: absolute;
    font-size: var(--title-font-size);
    color: var(--fea-color);
    top: 1020px;
    left: 450px;
    width: 522px;
    text-align: center;
}

.more a {
    font-size: var(--title-font-size);
    color: var(--fea-color);
}

.features_more {
    text-align: center;
    margin-top: 50px;
}

.index_features_series_title {
    color: var(--fea-color);
    margin-top: 100px;
}

.index_features_series {
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
}

.series_more {
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 375px) {
    .index_features {
        position: relative;
        height: 812px;
        padding: 60px 15px 30px;
    }
    .index_features p {
        font-size: var(--rwd-normal-font-size);
        /* padding-top: 80px; */
        text-align: center;
    }
    .index_features_img1 {
        position: absolute;
        left: 140px;
        /* right: 0; */
        top: 120px;
        /* z-index: 9; */
        width: 220px;
        height: 330px;
    }
    .index_features_img2 {
        position: absolute;
        left: 15px;
        top: 467px;
        width: 220px;
        height: 330px;
    }
    .index_features_white,
    .index_features_img_text {
        display: none;
    }
    .index_features_content {
        margin-top: 30px;
    }
    .more a {
        font-size: var(--normal-font-size);
    }
    .features_more {
        margin-top: 30px;
    }
    .index_features_series_title {
        margin-top: 50px;
        font-size: var(--normal-font-size);
    }
    .index_features_series {
        flex-wrap: wrap;
        margin-top: 35px;
        justify-content: space-between;
    }
    .index_features_series img {
        height: 165px;
        width: 165px;
        margin-bottom: 15px;
    }
    .series_more {
        margin-top: 30px;
    }
}


/* new */

.index_new {
    /* height: 1080px; */
    height: 100vh;
    padding: 120px 423px 40px;
}

.index_new_img {
    display: flex;
    margin-top: 30px;
}

.index_new_img img {
    width: 522px;
    height: 522px;
}

.index_new_content {
    height: 522px;
    width: 522px;
    font-size: var(--title-font-size);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30px;
}

.index_new_content_color {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_new_content_color button {
    cursor: pointer;
}

.new_color {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 30px;
    border: none;
}

.new_color:not(:nth-child(4n)) {
    margin-right: 30px;
}

.new_color1 {
    background-color: #ACA394;
}

.new_color2 {
    background-color: #E7C48A;
}

.new_color3 {
    background-color: #C29779;
}

.new_color4 {
    background-color: #A76350;
}

.index_new_item {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.index_new_item img {
    width: 246px;
    height: 246px;
}


.new_more {
    /* display: block; */
    font-size: var(--title-font-size);
    text-align: center;
    /* margin-top: 30px; */
}

@media screen and (max-width: 375px) {
    .index_new {
        height: 812px;
        padding: 60px 15px 30px;
    }
    .index_new h2 {
        font-size: var(--normal-font-size);
        text-align: center;
    }
    .index_new_img {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        /* justify-content: center; */
        align-items: center;
        height: 265px;
    }
    .index_new_img img {
        width: 240px;
        height: 240px;
    }
    .index_new_content {
        height: 30px;
        width: 100%;
        margin-left: 0px;
    }
    .index_new_content p {
        display: none;
    }
    .index_new_content_color {
        display: flex;
        /* display: block; */
        justify-content: center;
        align-items: center;
    }
    .new_color {
        height: 20px;
        width: 20px;
    }
    .new_color:not(:nth-child(4n)) {
        margin-right: 30px;
    }
    .index_new_item {
        flex-wrap: wrap;
        margin-top: 30px;
        justify-content: space-between;
    }
    .index_new_item img {
        height: 165px;
        width: 165px;
        margin-bottom: 15px;
    }
    .new_more {
        font-size: var(--normal-font-size);
        margin-top: -15px;
    }
}


/* category */

.index_category {
    /* height: 1080px; */
    height: 100vh;
    padding: 55px 285px;
    background-color: #EDDDC3;
}

.index_category p,
.index_category a,
.index_category h2,
.index_category h3 {
    color: var(--fea-color);
    line-height: 48px;
}

.index_category_img {
    height: 730px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index_category_img img {
    height: 600px;
    width: 100%;
}

.category_more {
    font-size: var(--title-font-size);
    /* text-align: center; */
    /* margin-top: 50px; */
}

.rwd_category_more {
    display: none;
}

.index_category_title {
    text-align: right;
}

.index_category_title h2.current {
    font-weight: var(--hover-font-weigh);
}

.index_category_item {
    display: flex;
    justify-content: space-between;
    padding: 0 138px;
}

.index_category_item img {
    height: 246px;
    width: 246px;
    object-fit: contain;
}

@media screen and (max-width: 375px) {
    .index_category {
        height: 812px;
        padding: 60px 15px 30px;
    }
    .index_category p,
    .index_category a,
    .index_category h2,
    .index_category h3 {
        color: var(--fea-color);
        line-height: 32px;
        font-size: var(--normal-font-size);
    }
    .index_category_img {
        /* height: 730px; */
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .index_category_img img {
        width: 375px;
        height: 331px;
        margin-top: 30px;
        object-fit: contain;
    }
    .index_category_img_content h2,
    .index_category_img_content h3 {
        display: none;
    }
    .category_more {
        display: none;
    }
    .category_more {
        font-size: var(--title-font-size);
        text-align: center;
        /* margin-top: 250px; */
    }
    .index_category_title {
        text-align: center;
    }
    .index_category_item {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .index_category_item img {
        width: 165px;
        height: 165px;
        margin-right: 15px;
        margin-top: 30px;
    }
    .rwd_category_more {
        display: block;
        font-size: var(--normal-font-size);
        text-align: center;
        margin-top: 30px;
    }
}


/* intro */

.index_intro {
    display: flex;
    flex-direction: column;
    /* height: 1080px; */
    height: 100vh;
    padding: 140px 285px 60px;
    justify-content: space-between;
    /* align-items: center; */
}

.intro_content,
.intro_img {
    height: 384px;
    width: 384px;
}

.intro_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro_img2 img, .intro_img3 img {
    opacity: 0.85;
}

.intro2,
.intro4 {
    justify-content: flex-end;
}

.intro_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro_content p {
    font-size: var(--title-font-size);
}

.intro_content h2 {
    margin-bottom: 40px;
}

.intro_card {
    display: flex;
}

#section5 .intro3,
#section5 .intro4 {
    display: none;
}

@media screen and (max-width: 375px) {
    .index_intro {
        height: 812px;
        padding: 100px 15px 70px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .intro_content,
    .intro_img {
        height: 165px;
        width: 165px;
    }
    .intro2,
    .intro4 {
        justify-content: start;
    }
    .intro_content h2 {
        font-size: var(--normal-font-size);
        margin-bottom: 15px;
    }
    .intro_content p {
        font-size: var(--rwd-normal-font-size);
    }
    .intro_card {
        height: auto;
    }
    .intro_img {
        background-color: #BCAA9A;
    }
    .intro_card {
        display: flex;
        flex-direction: column;
    }
    #section5 .intro3,
    #section5 .intro4 {
        display: flex;
    }
    .intro1 .intro_img1,
    .intro3 .intro_img3 {
        order: -1;
    }
    #section6 {
        /* display: none; */
    }
}